<% content_for :title do %>About<% end %>
<h3>About JustChilly</h3>
<p>He was born in the middle of nowhere. He left for England, excelled at the University of Chilling, and served in the Royal Something or Other Regiment. While in service, he invented the kanuten valve used in the processing of unobtainium for industrial use. He founded Acme Manufacturing, later acquired by the Advent Corporation, to commercialize the product. Mr. Chilly is now retired and lives in Portsmouth where he raises turtles.</p>
<p>His favorite quotation is:</p>
<p>To chill or not to chill. To be just are the answers.</p>